
.square {
  background: transparent;
  border: transparent;
  float: left;
  padding: 0;
  text-align: center;
  width: min(10vw,11vh);
  height: min(10vw,11vh);
  background-repeat: no-repeat;
  background-size:contain;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: white;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 2vw;
}

.fallen-soldier-block {
  width: min(10vw,11vh);
}

.game-button {
  max-width: 9vw;
  font-family: Palatino, URW Palladio L, serif;
  position: relative;
  border: none;
  color: white;
  padding: 0.5vw 0.5vw;
  margin: 0.5vw 0.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black; 
  outline: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  border-radius: 1vw;
}

.game-button:hover {
  color: white;
}

.game-button:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.game-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.back{
  background-color: #4CAF50;
  border: 2px solid #4CAF50;

}

.back:hover{
  background-color: #4CAF50;

}
.back:after {
  background: #90EE90;
}

.promote{
  background-color: tomato;
  border: 2px solid tomato;
}

.promote:hover{
  background-color: tomato;

}
.promote:after {
  background-color: salmon;
}

.dark-square {
  background-color: RGB(184, 139, 74);
}

.light-square {
  background-color: RGB(227, 193, 111);
}

.light-square.selected {
  background-color: RGB(207, 173, 91);
}

.dark-square.selected {
  background-color: RGB(174, 129, 64);
}

.selected {
  border: 1px solid black;
}