
.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-size:contain;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.fallen-soldier-block {
  width: 10vw;
}

.dark-square {
  background-color: RGB(184, 139, 74);
}

.light-square {
  background-color: RGB(227, 193, 111);
}

.selected {
  border: 2px solid black;
}